@import "tailwindcss";

@theme {
    --color-background-lighter: hsl(216, 33.33%, 97.06%);
    --color-background: hsl(216, 33.33%, 90.06%);
    --color-background-darker: hsl(204, 42.86%, 93.14%);
    --color-primary: hsl(225.43, 100%, 58.82%);

    --color-primary2: hsl(231.11, 34.18%, 30.98%);
    --color-primary2-darker: hsl(231.11, 34.18%, 15.14%);

    --color-secondary: hsl(351.48, 98.78%, 67.84%);
    --color-accent: hsl(39.43, 99.19%, 51.57%);

    --color-error: var(--color-rose-950);
    --color-warning: var(--color-amber-900);
    --color-success: var(--color-lime-800);

    --color-customgradient-start: hsl(241.1, 82%, 60.78%);
    --color-customgradient-end: hsl(241.01, 95.2%, 49.02%);
}

[data-theme="dark"] {
    --color-background-lighter: hsl(0, 0%, 10%);
    --color-background: hsl(0, 0%, 15%);
    --color-background-darker: hsl(0, 0%, 7%);
    --color-primary: hsl(225.43, 100%, 58.82%);

    --color-primary2: hsl(204, 42.86%, 93.14%);
    --color-primary2-darker: hsl(204, 10.86%, 53.14%);

    --color-secondary: hsl(351.48, 98.78%, 67.84%);
    --color-accent: hsl(39.43, 99.19%, 51.57%);

    --color-error: var(--color-rose-500);
    --color-warning: var(--color-amber-500);
}
:root {
    --navwidth: initial;
    --header-height: initial;
}
@media (width>=48rem) {
    :root {
        --navwidth: calc(3 / 10 * 100%);
        --navleft: 0;
    }
    header {
        width: calc(100% - var(--navwidth));
        left: var(--navwidth);
    }
    article {
        width: calc(100% - var(--navwidth));
        min-height: calc(100% - var(--header-height));
        left: var(--navwidth);
    }
}
@media (width > 64rem) {
    :root {
        --navwidth: calc(2 / 10 * 100%);
        --navleft: 0;
    }
}
@media (width < 48rem) {
    :root {
        --navwidth: calc(2 / 3 * 100%);
    }
    article {
        width: 100%;
        min-height: calc(100% - var(--header-height));
    }
    header {
        width: 100%;
    }
}

main {
    @apply w-full h-full;
}
article {
    position: relative;
    top: var(--header-height);
    @apply py-5 px-6;
}
#navbar {
    width: var(--navwidth);
    transition: left 100ms ease-in-out;
}
body {
    @apply bg-background-darker text-primary2;
}
label {
    @apply select-none;
}
button,
input,
#bg-nav,
.msg {
    transition-property: opacity, color, opacity, outline, border;
    transition-duration: 250ms, 100ms, 100ms, 50ms, 50ms;
    transition-timing-function: ease-in-out;
}
button {
    @apply outline-primary2-darker border-0;
}
input {
    @apply border-0 outline-0 outline-primary2-darker;
}
input + .msg {
    @apply absolute -top-6 right-0 opacity-0 text-sm;
}
input[data-note="warn"] {
    @apply outline-2 outline-warning!;
}
input[data-note="warn"] + .msg {
    @apply text-warning opacity-100;
}
input[data-note="error"] {
    @apply outline-2 outline-error!;
}
input[data-note="error"] + .msg {
    @apply text-error opacity-100;
}
input[data-note="success"] {
    @apply outline-2 outline-success!;
}
input[data-note="success"] + .msg {
    @apply text-warning opacity-100;
}
.no-decoration {
    @apply outline-0 border-0;
}
button:not(.no-decoration):not(:disabled):hover,
button:not(.no-decoration):not(:disabled):focus,
input:not(.no-decoration):not(:disabled):hover,
input:not(.no-decoration):not(:disabled):focus {
    @apply outline-2 outline-offset-2;
}

.custom-gradient {
    @apply bg-linear-to-br from-customgradient-start to-customgradient-end;
}
